<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041087656249-ffmcn2qf7mf175fil0edtc6ucva33ect.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041087656249-ffmcn2qf7mf175fil0edtc6ucva33ect</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1041087656249-t9m7kg712o9ut5tpqdgjt0ln80g5m8tb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2kf7eCt0FdrtNApqOevc_DKQHNfZLPnE</string>
	<key>GCM_SENDER_ID</key>
	<string>1041087656249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdelrahmanashraf.foolnour</string>
	<key>PROJECT_ID</key>
	<string>projectenvato</string>
	<key>STORAGE_BUCKET</key>
	<string>projectenvato.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041087656249:ios:1def1821f8836bb0ccf8e8</string>
	<key>DATABASE_URL</key>
	<string>https://projectenvato.firebaseio.com</string>
</dict>
</plist>
